custom.dtd

<!ELEMENT html (head, body)>
<!ATTLIST html
    lang CDATA #IMPLIED
    data-invo-lang CDATA #IMPLIED>

<!ELEMENT head (meta*, link*, style*, title)>
<!ATTLIST head
    data-invo-href CDATA #IMPLIED>

<!ELEMENT body (header*, div*, footer*)>
<!ATTLIST body
    class CDATA #IMPLIED>

<!ELEMENT title (#PCDATA)>
<!ATTLIST title
    data-invo-key CDATA #IMPLIED>

<!-- Define more elements and attributes as needed -->
